{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/home/newsletter.css' %}" rel="stylesheet">
</head>
<body>
<section class="newsletter">
  <div class="newsletter-content">
    <h2>Stay Updated</h2>
    <p>Subscribe to get the latest offers, new arrivals, and mobile deals straight to your inbox.</p>

    <form class="newsletter-form">
      <input type="email" placeholder="Enter your email" required>
      <button type="submit">Subscribe</button>
    </form>
  </div>
</section>

</body>
</html>