{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link href="{% static 'css/home/why.css' %}" rel="stylesheet">

</head>
<body>
<section class="why-us">
  <h2>Why Choose MobX?</h2>

  <div class="why-grid">

    <div class="why-box">
      <span class="icon">✔️</span>
      <h3>100% Genuine Products</h3>
      <p>All mobiles are original with verified IMEI and proper billing.</p>
    </div>

    <div class="why-box">
      <span class="icon">💰</span>
      <h3>Best Price Guarantee</h3>
      <p>We offer the lowest price compared to offline shops.</p>
    </div>

    <div class="why-box">
      <span class="icon">📞</span>
      <h3>Instant Support</h3>
      <p>Customer service available anytime on WhatsApp or call.</p>
    </div>

    <div class="why-box">
      <span class="icon">🔄</span>
      <h3>Easy Returns</h3>
      <p>Hassle-free 3–5 day return policy for all orders.</p>
    </div>

  </div>
</section>


</body>
</html>